/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* regole pagina */
body {
    margin: 2em 0;
    height: 100vh;
    background-color: #0e003f;
    overflow: hidden;
    color: white;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 2em 0; 
}

#game-grid {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 20px;
}

.cell {
    width: 10%;
    height: 10%;
    border: 1px solid #000;
    box-sizing: border-box;
}